body {
    max-height: 100vh;
    margin: 0;
}

.sidebar,
.header,
.main {
    border: 1px solid red;
    background-color: beige;
}

a {
    text-decoration: none;
    color: black;
}

ul li {
    list-style: none;
}

img {
    width: 24px;
}

.personal > img {
    width: 45px;
}

.profile-card > img {
    width: 70px;
}